<a href="https://colab.research.google.com/github/GabrielCdev/WindSpeed_Mucuri_Analysis/blob/main/Mucuri_WindSpeed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 04

- Previsão da velocidade do vento para a as próximas 6 horas usando dados de um anemômetro a 150m em Mucuri, BA

# Aluno:
Gabriel Borges Calheiros

In [1]:
import pandas as pd

In [6]:
mucuri_df = pd.read_csv('https://raw.githubusercontent.com/GabrielCdev/WindSpeed_Mucuri_Analysis/main/dataset/train150_mucuri.txt', sep="\t")

In [7]:
mucuri_df

,Dia,Mês,Ano,Hora,Velocidade,Direção,Temperatura,Umidade,Pressão
0,30,11,2015,14,13.012139,75.105481,27.516129,72.930636,1020.422601
1,30,11,2015,15,12.726087,68.334332,27.238095,75.212121,1020.394348
2,30,11,2015,16,12.081111,64.457865,27.105263,75.741379,1020.508333
3,30,11,2015,17,11.647222,53.842100,26.305556,75.302632,1020.611000
4,30,11,2015,18,11.064444,53.945279,25.464286,76.592593,1020.866500
...,...,...,...,...,...,...,...,...,...
545,23,12,2015,7,2.912222,67.426924,22.637795,86.600000,1015.316167
546,23,12,2015,8,3.958333,84.999251,22.455696,82.110390,1015.975667
547,23,12,2015,9,5.216667,107.133454,22.602410,79.801205,1016.323667
548,23,12,2015,10,6.506667,110.979895,22.203252,80.907407,1016.071500
549,23,12,2015,11,7.690000,107.805201,22.024096,84.761111,1014.882833

In [8]:
mucuri_df.set_index("Mês")

,Dia,Ano,Hora,Velocidade,Direção,Temperatura,Umidade,Pressão
Mês,,,,,,,,
11,30,2015,14,13.012139,75.105481,27.516129,72.930636,1020.422601
11,30,2015,15,12.726087,68.334332,27.238095,75.212121,1020.394348
11,30,2015,16,12.081111,64.457865,27.105263,75.741379,1020.508333
11,30,2015,17,11.647222,53.842100,26.305556,75.302632,1020.611000
11,30,2015,18,11.064444,53.945279,25.464286,76.592593,1020.866500
...,...,...,...,...,...,...,...,...
12,23,2015,7,2.912222,67.426924,22.637795,86.600000,1015.316167
12,23,2015,8,3.958333,84.999251,22.455696,82.110390,1015.975667
12,23,2015,9,5.216667,107.133454,22.602410,79.801205,1016.323667
12,23,2015,10,6.506667,110.979895,22.203252,80.907407,1016.071500
12,23,2015,11,7.690000,107.805201,22.024096,84.761111,1014.882833